.button{
    -fx-background-color:
            #Ff6300,
            linear-gradient(#Ffb000,
            #Ffa700),
            linear-gradient(#f2f2f2 0%, #Ffd700 49%, #Ffcd00 50%, #Fff900 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.button:hover{
    -fx-background-color:
            #FF370F,
            linear-gradient(#Cbff00, #A9ff00),
            linear-gradient(#eaf6fd 0%, #91ff00 49%, #6fff00 50%,
            #48ff00 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.button:pressed {
    -fx-background-color:
            #00ffa0,
            linear-gradient(#00ffee, #009DA1),
            linear-gradient(#f2f2f2 0%, #3ed148 49%, #3ed148 50%, #3dbf46 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
